@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9F9;
  color: #154360;
  font-family: 'Inter', sans-serif;
}
.redes-sociales a {
  color: #F8F9F9;
  text-decoration: none;
  text-align: center;
}
footer a:hover {
  background-color: black;
  transition: 0.2s;
}